extends layout

block sideMenu
  
  include sidemenu

block content

  //- menu list
  -
    var dict = {1:{1:'DBMS'},
                2:{2:'2번'},
                3:{3:'3번'},
                4:{4:'4번'}}
  
  include article